@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.form-control {
	width: 500px;
}

.form-reimbursement {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-reimbursement .checkbox {
  font-weight: 400;
}
.form-reimbursement .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-reimbursement .form-control:focus {
  z-index: 2;
}
.form-reimbursement input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-reimbursement input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}